---
import ContactForm from "../components/ContactForm.astro";
import TextGradient from "../components/TextGradient.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1><TextGradient start={'var(--storyblok-job-test-form-accent-color)'} end={'var(--storyblok-job-test-form-accent-color-hover)'}>Contact Form</TextGradient></h1>
    <ContactForm />
</Layout>

<style is:global>
    h1 {
        text-align: center;
        margin-block-end: 1rem;
    }
    form {
        margin-block-end: 4rem;
    }
</style>
